* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    overflow-x: hidden;
    min-height: 100vh;
    background-image: url(../images/background3.jpg);
    background-repeat: repeat-y;
    background-size: cover;
}

.container {
    max-width: 1477px;
    margin: 0 auto;
    padding: 0 15px;
}

.logo {
    display: flex;
    align-items: center;
}

.main__nav {
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main__nav__title {
    font-family: Montserrat;    
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-transform: uppercase;
    color: #FFFFFF;
    transition: all 0.5s;
    margin: 0 0 0 20px;
}

.main__nav__title:hover {
    color: #5F45FF;
}

.main__nav__links {
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    margin: 0 25px;
    transition: 0.5s;
}
.main__nav__links:hover {
    font-size: 19px;
}

.main__title {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 68px;
    line-height: 83px;
    letter-spacing: 0.025em;
    color: #E4E7EF;
}

.main__text {
    font-family: Montserrat;
    font-weight: 300;
    margin-top: 25px;
    font-size: 25px;
    line-height: 33px;
    letter-spacing: 0.025em;
    color: #DDE0EA;
}

.main__text {
    position: absolute;
    top: 570px;
    width: 1430px;
}

.main__info {
    position: absolute;
    z-index: 2;
    top: 440px;
    left: 665px;
    text-shadow: 3px 3px 10px black;
}

.main__text__p {
    margin-top: 0.5em;
    margin-bottom: 1em;
}

.main__text__p1 {
    margin-top: 0.5em;
    margin-bottom: 1em;
    width: 700px;
}

.main__text__citata{
    position: absolute;
    top: 610px;
    z-index: 1;
    width: 650px;
    margin-left: 10px;
}

.main__text__citata{
    font-family: Montserrat;
    font-weight: 400;
    margin-top: 25px;
    font-size: 25px;
    line-height: 33px;
    letter-spacing: 0.025em;
    color: #DDE0EA;
}

.main__text__h3{
    position: absolute;
    top: 1480px;
    font-family: Montserrat;
    font-weight: 700;
    margin-top: 25px;
    font-size: 48px;
    line-height: 33px;
    letter-spacing: 0.025em;
    color: #DDE0EA;
}

.main__img__dubber {
    margin-left: 210px;
    margin-top: 50px;
    left: 0px;
    border-radius: 50px;
    width: 1430px;
    filter: drop-shadow(7px 15px 15px rgba(0, 0, 0, 0.25));
}

.main__img__dubber1 {
    margin-top: 25px;
    left: 980px;
    border-radius: 50px;
    width: 710px;
    filter: drop-shadow(7px 15px 15px rgba(0, 0, 0, 0.25));
}

.main__img__dubber2 {
    margin-top: 25px;
    margin-left: 701px;
    border-radius: 50px;
    width: 730px;
    filter: drop-shadow(7px 15px 15px rgba(0, 0, 0, 0.25));
}

.main__img__dubber3 {
    margin-top: 25px;
    left: 730px;
    border-radius: 50px;
    width: 700px;
    height: 491px;
    filter: drop-shadow(7px 15px 15px rgba(0, 0, 0, 0.25));
}

.main__img__dubber4 {
    margin-top: 25px;
    margin-left: 701px;
    left: 209px;
    border-radius: 50px;
    width: 730px;
    height: 487px;
    filter: drop-shadow(7px 15px 15px rgba(0, 0, 0, 0.25));
}

.main__text1 {
    position: absolute;
    top: 570px;
    width: 1430px;
    text-align: justify;
}

.main__text1 {
    font-family: Montserrat;
    font-weight: 300;
    margin-top: 25px;
    font-size: 25px;
    line-height: 33px;
    letter-spacing: 0.025em;
    color: #DDE0EA;
}

.main__right {
    position: absolute;
    width: 700px;
    left: 730px;
    bottom: -40px;
}

.main__right1 {
    position: absolute;
    width: 700px;
    left: 730px;
    bottom: -20px;
}

.main__left {
    position: absolute;
    width: 690px;
    top: 55px;
}

.main__left1 {
    position: absolute;
    width: 690px;
    top: 65px;
}

.main__info1 {
    z-index: 2;
    top: 980px;
    left: 209px;
}

.main__text__p2 {
    margin-top: 0.5em;
    margin-bottom: 1em;

    font-family: Montserrat;
    font-weight: 300;
    margin-top: 25px;
    font-size: 25px;
    line-height: 33px;
    letter-spacing: 0.025em;
    color: #DDE0EA;
}

.main__text__h4  {
    font-family: Montserrat;
    font-weight: 700;
    margin-top: 25px;
    font-size: 36px;
    line-height: 33px;
    letter-spacing: 0.025em;
    color: #DDE0EA;
}

.main__text__p3 {
    position: absolute;
    top: 582px;
    left: 700px;
    width: 725px;
    text-align: justify;
}



.main__text2 {
    position: absolute;
    top: 1200px;
    width: 1430px;
    text-align: justify;
}

.main__text2 {
    font-family: Montserrat;
    font-weight: 300;
    margin-top: 25px;
    font-size: 25px;
    line-height: 33px;
    letter-spacing: 0.025em;
    color: #DDE0EA;
}

.main__info2 {
    top: 980px;
    left: 209px;
}

.main__text__h4__2  {
    font-family: Montserrat;
    font-weight: 700;
    margin-top: 10px;
    font-size: 36px;
    line-height: 33px;
    letter-spacing: 0.025em;
    color: #DDE0EA;
    margin-left: 1080px;
}


.main__text3 {
    position: absolute;
    top: 1725px;
    width: 1430px;
    left: 210px;
    text-align: justify;
}

.main__text3 {
    font-family: Montserrat;
    font-weight: 300;
    margin-top: 25px;
    font-size: 25px;
    line-height: 33px;
    letter-spacing: 0.025em;
    color: #DDE0EA;
}

.main__info3 {
    top: 2975px;
    left: 209px;
}

.main__text__h4__3  {
    font-family: Montserrat;
    font-weight: 700;
    margin-top: 25px;
    font-size: 36px;
    line-height: 33px;
    letter-spacing: 0.025em;
    color: #DDE0EA;
}


.main__text4 {
    position: absolute;
    top: 2300px;
    width: 1430px;
    left: 210px;
    text-align: justify;
}

.main__text4 {
    font-family: Montserrat;
    font-weight: 300;
    margin-top: 25px;
    font-size: 25px;
    line-height: 33px;
    letter-spacing: 0.025em;
    color: #DDE0EA;
}

.main__info4 {
    top: 2975px;
    left: 209px;
}

.main__text__h4__4  {
    font-family: Montserrat;
    font-weight: 700;
    width: 451px;
    margin-top: 25px;
    font-size: 36px;
    line-height: 33px;
    letter-spacing: 0.025em;
    color: #DDE0EA;
    margin-left: 983px;
}

.main__btn {
    margin-top: 2475px;
    margin-left: 1340px;
    margin-bottom: 100px;
}

.main__btn__title {
    background: #812BB2;
    box-shadow: 0px 0px 35px rgba(129, 43, 178, 0.91);
    border-radius: 72px;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    left: 925px;
    margin-top: 1525px;
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-transform: uppercase;
    color: #E4E7EF;
    transition: all 0.2s;
}

.main__btn1 {
    margin-top: -125px;
    margin-left: 210px;
    margin-bottom: 100px;
}

.main__btn__title1 {
    background: #812BB2;
    box-shadow: 0px 0px 35px rgba(129, 43, 178, 0.91);
    border-radius: 72px;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    left: 925px;
    margin-top: 1525px;
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-transform: uppercase;
    color: #E4E7EF;
    transition: all 0.2s;
}

.main__btn__title:hover {
    box-shadow: 0 0px 16px 0 #812BB2, 0 0px 50px 0 #812BB2;
}
.main__btn__title1:hover {
    box-shadow: 0 0px 16px 0 #812BB2, 0 0px 50px 0 #812BB2;
}

.login__img {
    position: absolute;
    bottom: 908px;
    right: 291px;
}

.login {
    border-radius: 72px;
    box-shadow: 0px 0px 35px rgba(129, 43, 178, 0.91);
    transition: all 0.2s;
}

.login:hover {
    box-shadow: 0 0px 16px 0 #812BB2, 0 0px 50px 0 #812BB2;
}

.login {
    font-family: Montserrat;
    text-align: right;
    font-style: normal;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}

.login {
    background: #812BB2;
    z-index: 1;
    box-shadow: 0px 0px 35px rgba(129, 43, 178, 0.91);
    border-radius: 72px;
    width: 295px;
    height: 65px;
    padding: 15px;
    padding-left: 40px;
    transition: all 0.2s;
    text-transform: uppercase;
    color: #E4E7EF;
}

