* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
    overflow-x: hidden;
    min-height: 100vh;
    background-image: url(../images/background5.jpg);
    background-repeat: repeat-y;
    background-size: cover;
}

p {
    margin-top: 20px;
}

.container {
    max-width: 1477px;
    margin: 0 auto;
    padding: 0 15px;
}

.logo {
    display: flex;
    align-items: center;
}

.main__nav {
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main__nav__title {
    font-family: Montserrat;    
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-transform: uppercase;
    color: #FFFFFF;
    transition: all 0.5s;
    margin: 0 0 0 20px;
}

.main__nav__title:hover {
    color: #5F45FF;
}

.main__nav__links {
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
    margin: 0 25px;
    transition: 0.5s;
}
.main__nav__links:hover {
    font-size: 19px;
}

.main__title {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 68px;
    line-height: 83px;
    letter-spacing: 0.025em;
    color: #E4E7EF;
    width: 1100px
}

.main__text {
    font-family: Montserrat;
    font-weight: 300;
    margin-top: 25px;
    font-size: 25px;
    line-height: 33px;
    letter-spacing: 0.025em;
    color: #DDE0EA;
}

.main__text {
    position: absolute;
    top: 570px;
    width: 1430px;
}

.main__info {
    position: absolute;
    z-index: 2;
    top: 440px;
    left: 425px;
    text-shadow: 3px 3px 10px black;
}

.main__text__p {
    margin-top: 0.5em;
    margin-bottom: 1em;
}

.main__img__dubber {
    margin-left: 0px;
    margin-top: 50px;
    left: 0px;
    border-radius: 50px;
    width: 1430px;
    filter: drop-shadow(7px 15px 15px rgba(0, 0, 0, 0.25));
}

.main__img__dubber1 {
    left: 980px;
    border-radius: 50px;
    width: 710px;
    filter: drop-shadow(7px 15px 15px rgba(0, 0, 0, 0.25));
}

.main__img__dubber2 {
    margin-left: 725px;
    border-radius: 50px;
    width: 701px;
    filter: drop-shadow(7px 15px 15px rgba(0, 0, 0, 0.25));
}

.main__img__dubber3 {
    position: absolute;
    right: 720px;
    border-radius: 50px;
    width: 700px;
    height: 440px;
    filter: drop-shadow(7px 15px 15px rgba(0, 0, 0, 0.25));
}

.main__img__dubber4 {
    left: 209px;
    border-radius: 50px;
    width: 700px;
    height: 440px;
    filter: drop-shadow(7px 15px 15px rgba(0, 0, 0, 0.25));
}

.main__img__dubber5 {
    position: absolute;
    left: 720px;
    border-radius: 50px;
    width: 700px;
    height: 440px;
    filter: drop-shadow(7px 15px 15px rgba(0, 0, 0, 0.25));
}

.main__img__dubber6 {
    left: 209px;
    border-radius: 50px;
    width: 700px;
    height: 440px;
    filter: drop-shadow(7px 15px 15px rgba(0, 0, 0, 0.25));
}

.main__img__dubber7 {
    position: absolute;
    left: 720px;
    border-radius: 50px;
    width: 700px;
    height: 440px;
    filter: drop-shadow(7px 15px 15px rgba(0, 0, 0, 0.25));
}

.main__img__dubber8 {
    margin-top: 20px;
    left: 209px;
    border-radius: 50px;
    width: 700px;
    height: 440px;
    filter: drop-shadow(7px 15px 15px rgba(0, 0, 0, 0.25));
}

.main__img__dubber9 {
    margin-top: 20px;
    position: absolute;
    left: 720px;
    border-radius: 50px;
    width: 700px;
    height: 440px;
    filter: drop-shadow(7px 15px 15px rgba(0, 0, 0, 0.25));
}

.main__img__dubber10 {
    left: 209px;
    border-radius: 50px;
    width: 700px;
    height: 440px;
    margin-bottom: 20px;
    filter: drop-shadow(7px 15px 15px rgba(0, 0, 0, 0.25));
}

.main__img__dubber11 {
    position: absolute;
    left: 720px;
    border-radius: 50px;
    width: 700px;
    height: 440px;
    filter: drop-shadow(7px 15px 15px rgba(0, 0, 0, 0.25));
}

.main__img__dubber12 {
    left: 209px;
    border-radius: 50px;
    width: 700px;
    height: 440px;
    margin-bottom: 20px;
    filter: drop-shadow(7px 15px 15px rgba(0, 0, 0, 0.25));
}

.main__img__dubber13 {
    position: absolute;
    left: 720px;
    border-radius: 50px;
    width: 700px;
    height: 440px;
    filter: drop-shadow(7px 15px 15px rgba(0, 0, 0, 0.25));
}



.main__text1 {
    position: absolute;
    top: 570px;
    width: 1430px;
    text-align: justify;
}

.main__text1 {
    font-family: Montserrat;
    font-weight: 300;
    margin-top: 25px;
    font-size: 25px;
    line-height: 33px;
    letter-spacing: 0.025em;
    color: #DDE0EA;
}


.main__info1 {
    z-index: 2;
    top: 980px;
    left: 209px;
}

.main__text__h4  {
    font-family: Montserrat;
    font-weight: 700;
    margin-top: 25px;
    font-size: 36px;
    line-height: 33px;
    letter-spacing: 0.025em;
    color: #DDE0EA;
}


.main__text2 {
    position: absolute;
    top: 1100px;
    width: 1430px;
    text-align: justify;
}

.main__text2 {
    font-family: Montserrat;
    font-weight: 300;
    margin-top: 25px;
    font-size: 25px;
    line-height: 33px;
    letter-spacing: 0.025em;
    color: #DDE0EA;
}

.main__info2 {
    top: 500px;
    left: 209px;
}


.main__text3 {
    position: absolute;
    top: 2375px;
    width: 1430px;
    left: 210px;
    text-align: justify;
}

.main__text3 {
    font-family: Montserrat;
    font-weight: 300;
    margin-top: 25px;
    font-size: 25px;
    line-height: 33px;
    letter-spacing: 0.025em;
    color: #DDE0EA;
}

.main__info3 {
    top: 3050px;
    left: 209px;
}

.main__text4 {
    position: absolute;
    top: 4270px;
    width: 1430px;
    left: 210px;
    text-align: justify;
}

.main__text4 {
    font-family: Montserrat;
    font-weight: 300;
    margin-top: 25px;
    font-size: 25px;
    line-height: 33px;
    letter-spacing: 0.025em;
    color: #DDE0EA;
}

.main__info4 {
    top: 2975px;
    left: 209px;
}

.main__btn {
    margin-top: 7750px;
    margin-left: 1175px;
    margin-bottom: 100px;
}

.main__btn__title {
    background: #812BB2;
    box-shadow: 0px 0px 35px rgba(129, 43, 178, 0.91);
    border-radius: 72px;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    left: 925px;
    margin-top: 1525px;
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-transform: uppercase;
    color: #E4E7EF;
    transition: all 0.2s;
}

.main__btn1 {
    margin-top: -125px;
    margin-bottom: 100px;
}

.main__btn__title1 {
    background: #812BB2;
    box-shadow: 0px 0px 35px rgba(129, 43, 178, 0.91);
    border-radius: 72px;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    left: 925px;
    margin-top: 1525px;
    padding-left: 75px;
    padding-right: 75px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-transform: uppercase;
    color: #E4E7EF;
    transition: all 0.2s;
}

.main__btn__title:hover {
    box-shadow: 0 0px 16px 0 #812BB2, 0 0px 50px 0 #812BB2;
}
.main__btn__title1:hover {
    box-shadow: 0 0px 16px 0 #812BB2, 0 0px 50px 0 #812BB2;
}

.main__text__h4  {
    font-family: Montserrat;
    font-weight: 700;
    margin-top: 25px;
    font-size: 36px;
    line-height: 33px;
    letter-spacing: 0.025em;
    color: #DDE0EA;
}

.main__text5 {
    position: absolute;
    top: 5080px;
    width: 1430px;
    left: 210px;
    text-align: justify;
}

.main__text5 {
    font-family: Montserrat;
    font-weight: 300;
    margin-top: 25px;
    font-size: 25px;
    line-height: 33px;
    letter-spacing: 0.025em;
    color: #DDE0EA;
}

.main__text6 {
    position: absolute;
    top: 6190px;
    width: 1430px;
    left: 210px;
    text-align: justify;
}

.main__text6 {
    font-family: Montserrat;
    font-weight: 300;
    margin-top: 25px;
    font-size: 25px;
    line-height: 33px;
    letter-spacing: 0.025em;
    color: #DDE0EA;
}

.main__text7 {
    position: absolute;
    top: 7550px;
    width: 1430px;
    left: 210px;
    text-align: justify;
}

.main__text7 {
    font-family: Montserrat;
    font-weight: 300;
    margin-top: 25px;
    font-size: 25px;
    line-height: 33px;
    letter-spacing: 0.025em;
    color: #DDE0EA;
}

.login__img {
    position: absolute;
    bottom: 908px;
    right: 291px;
}

.login {
    border-radius: 72px;
    box-shadow: 0px 0px 35px rgba(129, 43, 178, 0.91);
    transition: all 0.2s;
}

.login:hover {
    box-shadow: 0 0px 16px 0 #812BB2, 0 0px 50px 0 #812BB2;
}

.login {
    font-family: Montserrat;
    text-align: right;
    font-style: normal;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}

.login {
    background: #812BB2;
    z-index: 1;
    box-shadow: 0px 0px 35px rgba(129, 43, 178, 0.91);
    border-radius: 72px;
    width: 295px;
    height: 65px;
    padding: 15px;
    padding-left: 40px;
    transition: all 0.2s;
    text-transform: uppercase;
    color: #E4E7EF;
}
